<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시글 목록</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary"
                    onclick="location.href='../'" type="button">홈</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='/boards/new-form'" type="button">게시글 등록</button>
        </div>
    </div>

    <hr class="my-4">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>게시물 번호</th>
                <th>학번</th>
                <th>이름</th>
                <th>제목</th>
                <th>내용</th>
            </thead>

            <tbody  th:each="board: ${boards}">
            <tr>
                <td><a th:text="${board.boardNumber}"></a></td>
                <td><a th:text="${board.writerId}"></a></td>
                <td><a th:text="${board.writerName}"></a></td>
                <td><a th:text="${board.title}"></a></td>
                <td><a th:text="${board.content}"></a></td>
            </tr>

            </tbody>
        </table>
    </div>

</div> <!-- /container -->
</body>
</html>