<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th># </th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board}"></td>//id
                <td th:text="${member.name}"></td>//이름
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>