<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시판</title>
</head>
<body>
<div class="container" style="max-width: 600px">
    <form action="save"  method="post" class="col g-3"  style="margin: 20px">
        <div class="row">
            <div class="col-md-6" >
                <label class="form-label">학번</label>
                <input name="id" class="form-control">
            </div>
            <div class="col-md-6">
                <label class="form-label">이름</label>
                <input name="name" class="form-control">
            </div>
        </div>

        <div class="col">
            <label class="form-label">제목</label>
            <input name="title" class="form-control">
        </div>
        <div class="col">
            <label class="form-label">내용</label>
            <input maxlength="150" name="content" class="form-control" style="height: 200px">
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col">
                <button class="btn btn-primary"
                        onclick="location.href='../'" type="button">홈</button>
            </div>
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='/boards/save'" type="submit">등록</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>